<div class="browser">
    <div class="browser-id"><%= browser.id %></div>
    <div class="browser-name"><%= browser.name %></div>
    <button class="close-browser-button" data-browser-id="<%=browser.id%>">Close</button><span>the browser or </span>
    <button class="take-screenshot-button" data-browser-id="<%=browser.id%>">take screenshot</button> and save it to the default path or to the path:
    <input class="screenshot-path" />
</div>
