{{# installationsList }}
<div class="installation">
    <div class="installation-name">{{ name }}</div>
    <button class="open-browser-button" data-browser="{{ name }}">Open browser</button>
    <div class="installation-path">{{ path }}</div>
</div>
{{/ installationsList }}
