<div class="browser-screenshots-container">
{{#screenshots.length}}
    <div>
        Captured screenshots:
    </div>
    <div class="browser-screenshots">
        {{# screenshots }}
            <a class="browser-screenshot-link" href="{{ url }}" target="_blank">
                <div class="thumbnail-container">
                    <img class="browser-screenshot-thumbnail" src="{{ thumbnailUrl }}"/>
                </div>
                {{ path }}
            </a>
        {{/screenshots}}
    </div>
{{/screenshots.length}}
</div>
