<!DOCTYPE html>
<html>
<head>
    <title>Default playground test page</title>
    <!-- Microsoft Edge truncates the window title to the hostname if document.title contains only a URL. -->
    <!-- So, we need to add some characters before the URL in order to bring it to the window title.      -->
    <script>document.title = 'browser-id:' + document.location.toString()</script>
</head>
<body bgcolor="#f5f5dc">

<h1>This is a playground test page with id {{ id }}</h1>

<div>Client area size is <span id="client-area-size"></span></div>

<script type="text/javascript">
    var clientAreaSizeContainer = document.getElementById('client-area-size');

    function sendClientAreaSize (clientAreaSize) {
        var xhr = new XMLHttpRequest();

        xhr.open('POST', '/update-client-area-size/{{ id }}');
        xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
        xhr.send(JSON.stringify(clientAreaSize));
    }

    function updateClientAreaSize () {
        var clientAreaSize = {
            width:  window.innerWidth,
            height: window.innerHeight
        };

        clientAreaSizeContainer.textContent =  clientAreaSize.width + 'x' + clientAreaSize.height;

        sendClientAreaSize(clientAreaSize);
    }

    updateClientAreaSize();

    window.addEventListener('resize', updateClientAreaSize);
</script>
</body>
</html>
