<!DOCTYPE html>
<html>
<head>
    <title>Default playground test page</title>

    <script>document.title = document.location.toString()</script>
</head>
<body>
<h1>This is a playground test page with id <%= id %></h1>
</body>
</html>
