{
  "rules": {
    "no-unused-expressions": 0,
    "max-nested-callbacks": [2, 5]
  },
  "env": {
    "mocha": true
  },
  "globals": {
    "browserNatives":      true,
    "waitForBrowserOpen":  true,
    "waitForBrowserClose": true,
    "browsers":            true
  }
}
